@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">sunday</h1>
    <p hidden>
        <img src="~/images/zt-pillars.jpg" width="500" alt="">
    </p>
    <textarea id="w3review" name="w3review" rows="4" cols="50">
        bla bla bla
    </textarea>
</div>
