@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">rain</h1>
    <p hidden>
        <img src="~/images/zt-pillars.jpg" width="500" alt="">
    </p>

</div>
