@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">sunday</h1>
    <p hidden>
        <img src="~/images/zt-pillars.jpg" width="500" alt="">
    </p>

    <form action="" method="post">
        <p><label for="atarc-review">Review of Zero Trust:</label></p>
        <textarea id="atarc-review" name="atarc-review" rows="4" cols="50"></textarea>
        <br>
        <input type="submit" value="Submit">
    </form>

</div>
