@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<<<<<<< HEAD
    <h1 class="display-4">ATARCOCT26</h1>
=======
    <h1 class="display-4">ATARCOCT</h1>
>>>>>>> d0954aaa12b6f34d85f001c0906713f16abb1f91
    <p hidden>
        <img src="~/images/zt-pillars.jpg" width="500" alt="">
    </p>

</div>
